<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <title>{{ page.title }}</title> 

    <link rel="stylesheet" type="text/css" href="http://loopj.com/css/style.css" />
    <link rel="stylesheet" type="text/css" href="http://loopj.com/css/highlight.css" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> 
</head>
<body>
    <div id="site-header">
        <h1><a href="/">James Smith • loopj.com</a></h1>
    </div>
    <div id="wrap">
        {{ content }}
    </div>
</body>
</html>