/* Example tokeninput style #2: Facebook style */
ul.token-input-list-facebook {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 400px;
    border: 1px solid #8496ba;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    line-height: 15px;
    z-index: 999;
    margin: 0;
    padding: 1px 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
}

ul.token-input-list-facebook li input {
    border: 0;
    width: 100px;
    padding: 1px 3px;
    background-color: white;
    margin: 1px 0;
    font: inherit;
    -webkit-appearance: caret;
}

li.token-input-token-facebook {
    overflow: hidden; 
    height: auto !important; 
    height: 15px;
    margin: 1px 0 1px 2px;
    padding: 1px 1px 1px 3px;
    background-color: #eff2f7;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    font-size: 11px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    float: left;
    white-space: nowrap;
}

li.token-input-token-facebook p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-facebook span {
    color: #a6b3cf;
    margin: 1px 0 0 2px;
    font-weight: bold;
    cursor: pointer;
    padding: 2px;
    width: 11px;
    height: 11px;
    line-height: 9px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

li.token-input-token-facebook span:hover {
    color: #fff;
    background: #5670a6;
}

li.token-input-selected-token-facebook {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;
}

li.token-input-input-token-facebook {
    float: left;
    margin: 0;
    padding: 1px;
    list-style-type: none;
}
li.token-input-dragged-token-facebook {
    opacity: 0;
}
li.token-input-dragged-clone-facebook {
    position: absolute;
    margin: 5px 0 0 5px;
    padding: 2px 6px;
    list-style: none;
    font-size: 11px;
    font-family: Verdana;
    cursor: move;
}
li.token-input-dragged-clone-facebook span {
    display: none;
}

li.token-input-insert-before-facebook {
    border-left: 1px solid red;
}

li.token-input-insert-after-facebook {
    border-right: 1px solid red;
}

div.token-input-dropdown-facebook {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 11px;
    font-family: Verdana;
    z-index: 1;
}

div.token-input-dropdown-facebook p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown-facebook ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-facebook ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    background-color: #3b5998;
    color: #fff;
}

